In [29]:
import pandas as pd 
import numpy as np 
import zipfile #used to import the data from the zip file

In [30]:
df_zip = zipfile.ZipFile('C:/Users/yesha/Downloads/movies_dataset.csv.zip')
df = pd.read_csv(df_zip.open('movies_dataset.csv'))
display(df)

,Unnamed: 0,IMDb-rating,appropriate_for,director,downloads,id,industry,language,posted_date,release_date,run_time,storyline,title,views,writer
0,0,4.8,R,John Swab,304,372092,Hollywood / English,English,"20 Feb, 2023",Jan 28 2023,105,Doc\r\n facilitates a fragile truce between th...,Little Dixie,"2,794",John Swab
1,1,6.4,TV-PG,Paul Ziller,73,372091,Hollywood / English,English,"20 Feb, 2023",Feb 05 2023,84,Caterer\r\n Goldy Berry reunites with detectiv...,Grilling Season: A Curious Caterer Mystery,"1,002",John Christian Plummer
2,2,5.2,R,Ben Wheatley,"1,427",343381,Hollywood / English,"English,Hindi","20 Apr, 2021",Jun 18 2021,1h 47min,As the world searches for a cure to a disastro...,In the Earth,"14,419",Ben Wheatley
3,3,8.1,NaN,Venky Atluri,"1,549",372090,Tollywood,Hindi,"20 Feb, 2023",Feb 17 2023,139,The life of a young man and his struggles agai...,Vaathi,"4,878",Venky Atluri
4,4,4.6,NaN,Shaji Kailas,657,372089,Tollywood,Hindi,"20 Feb, 2023",Jan 26 2023,122,A man named Kalidas gets stranded due to the p...,Alone,"2,438",Rajesh Jayaraman
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20543,20543,NaN,NaN,NaN,"1,998",28957,Bollywood / Indian,Hindi,"01 Jan, 1970",Mar 13 1959,NaN,NaN,Bhai-Bahen,"6,219",NaN
20544,20544,7.7,NaN,Bimal Roy,"6,080",28958,Bollywood / Indian,Hindi,"01 Jan, 1970",May 13 1955,159,Devdas and Parvati had been inseparable as chi...,Devdas,"16,376","Rajinder Singh Bedi, Saratchandra Chatterjee, ..."
20545,20545,8.0,NaN,NaN,"3,276",30459,Bollywood / Indian,Hindi,"01 Jan, 1970",Mar 28 1958,1h 50min,"While driving his car on a rainy night, Anand'...",Madhumati,"7,220",NaN
20546,20546,NaN,NaN,NaN,309,371669,Wrestling,English,"10 Feb, 2023",Feb 09 2023,NaN,NaN,TNA.Impact 2023-02-09,"1,419",NaN
20547,20547,NaN,NaN,NaN,"2,613",371816,Wrestling,English,"14 Feb, 2023",Feb 13 2023,NaN,NaN,WWE Raw 2023-02-13,"6,697",NaN

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20548 entries, 0 to 20547
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       20548 non-null  int64
 1   IMDb-rating      19707 non-null  float64
 2   appropriate_for  11072 non-null  object
 3   director         18610 non-null  object
 4   downloads        20547 non-null  object
 5   id               20548 non-null  int64
 6   industry         20547 non-null  object
 7   language         20006 non-null  object
 8   posted_date      20547 non-null  object
 9   release_date     20547 non-null  object
 10  run_time         18780 non-null  object
 11  storyline        18847 non-null  object
 12  title            20547 non-null  object
 13  views            20547 non-null  object
 14  writer           18356 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 2.4+ MB

In [32]:
print(df.dtypes)

Unnamed: 0           int64
IMDb-rating        float64
appropriate_for     object
director            object
downloads           object
id                   int64
industry            object
language            object
posted_date         object
release_date        object
run_time            object
storyline           object
title               object
views               object
writer              object
dtype: object

<b> not all values are non-null, need to fill in missing values and do data cleaning <b>

<b> DATA CLEANING <b>

In [33]:
# check the number of null values 
df.isnull().sum()

Unnamed: 0            0
IMDb-rating         841
appropriate_for    9476
director           1938
downloads             1
id                    0
industry              1
language            542
posted_date           1
release_date          1
run_time           1768
storyline          1701
title                 1
views                 1
writer             2192
dtype: int64

In [34]:
# for numerical values, we fill in the missing values with the mean 
df['IMDb-rating'] = df['IMDb-rating'].fillna(df['IMDb-rating'].mean())

# drop all other null values 
df = df.dropna()

df.info() 
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9911 entries, 0 to 20540
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9911 non-null   int64
 1   IMDb-rating      9911 non-null   float64
 2   appropriate_for  9911 non-null   object
 3   director         9911 non-null   object
 4   downloads        9911 non-null   object
 5   id               9911 non-null   int64
 6   industry         9911 non-null   object
 7   language         9911 non-null   object
 8   posted_date      9911 non-null   object
 9   release_date     9911 non-null   object
 10  run_time         9911 non-null   object
 11  storyline        9911 non-null   object
 12  title            9911 non-null   object
 13  views            9911 non-null   object
 14  writer           9911 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 1.2+ MB

,Unnamed: 0,IMDb-rating,appropriate_for,director,downloads,id,industry,language,posted_date,release_date,run_time,storyline,title,views,writer
0,0,4.8,R,John Swab,304,372092,Hollywood / English,English,"20 Feb, 2023",Jan 28 2023,105,Doc\r\n facilitates a fragile truce between th...,Little Dixie,"2,794",John Swab
1,1,6.4,TV-PG,Paul Ziller,73,372091,Hollywood / English,English,"20 Feb, 2023",Feb 05 2023,84,Caterer\r\n Goldy Berry reunites with detectiv...,Grilling Season: A Curious Caterer Mystery,"1,002",John Christian Plummer
2,2,5.2,R,Ben Wheatley,"1,427",343381,Hollywood / English,"English,Hindi","20 Apr, 2021",Jun 18 2021,1h 47min,As the world searches for a cure to a disastro...,In the Earth,"14,419",Ben Wheatley
7,7,6.5,R,Benjamin Caron,"1,781",371751,Hollywood / English,English,"13 Feb, 2023",Feb 17 2023,116,"Motivations are suspect, and expectations are ...",Sharper,"18,225","Brian Gatewood, Alessandro Tanaka"
8,8,6.9,PG-13,Ravi Kapoor,458,372042,Hollywood / English,English,"18 Feb, 2023",Dec 02 2022,80,An\r\n unmotivated South Asian American rapper...,Four Samosas,"6,912",Ravi Kapoor